.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto; /* Bloco centraliza */
    padding: 0 20px; /* Adiciona um espaçamento interno */
    box-sizing: border-box; /* Garante que o padding não altere a largura máxima */
    font-family: 'Inter', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 20px;
}